<link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-primary bg-light">
    <a class="navbar-brand" routerLink="/products">Webshop 1.0</a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/products">Termékek</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/category">Kategóriák</a>
        </li>
        <ng-container *ngIf="!jsonUserLoggedIn()">
            <input [(ngModel)]="userName" class="nav-item mr-sm-2" type="email" placeholder="User name (email)" aria-label="Email" />
            <input [(ngModel)]="password" class="nav-item mr-sm-2" type="password" placeholder="pw" aria-label="Password" />
            <input type="button" class="nav-item btn btn-outline-success my-2 my-sm-0" (click)="onSignIn()" value="Sign in" />
        </ng-container>
        <ng-container *ngIf="jsonUserLoggedIn()">
            <li class="nav-item pt-2">
                Welcome back {{welcometext}}!
            </li>
            <input type="button" class="nav-item btn btn-outline-success my-2 my-sm-0" (click)="onLogout()" value="Logout" />
            <button type="button" class="btn btn-link" routerLink="/kosar">
                Basket
            </button>
            <button type="button" class="btn btn-link" routerLink="/profile">
                Profile
            </button>
        </ng-container>
    </ul>

</nav>
<router-outlet></router-outlet>
<app-message></app-message>